# No secrets needed for the default (harness-issuer) compose path.
# For the real-PingFederate variant (README), PF self-licenses via these (same as the rest of the estate):
# PING_IDENTITY_DEVOPS_USER=bob@idpartners.com.au
# PING_IDENTITY_DEVOPS_KEY=<your devops key>
# PING_IDENTITY_ACCEPT_EULA=YES
